html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.graph{
	height: 500px;
	padding: 0;
}

.graph_in{
	display: none;
}

.graph_out{
	display: none;
}

#Empty{
	display: none;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	padding:10px;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
	background:white;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#hr{
width: 80%;
margin-left: auto;
margin-right: auto;
height: 1px;
}